.hero-title {
   margin-top: 80px;
margin-left: 100px;
}
.ant-col-12{
    background-image: url("../../images/Path 82.png");
    background-size: 600px;
    background-position-y: 15px;
    background-position-x: -120px;
    background-repeat: no-repeat;
}
.hero-title h1 {
    color: #BA1C1D;
    font-size: 3rem;
    font-weight: bold;

}

.hero-title h2 {
    text-align: justify;
    color: white;
    font-size: 17px;
}



.button {
    margin-top: 20px;
    background-color: #990000;
    width: 200px;
    height: 50px;
    padding: 5px;
}

.button2 {
    margin-top: 20px;
    margin-left: -50px;
    border: 1px solid white;
    width: 200px;
    height: 50px;
    padding: 5px;
    margin-bottom: 100px;
}

.button h3{
    font-size: 20px;
    text-align: center;
    color: white;
}

.button2 h3{
    font-size: 20px;
    text-align: center;
    color: white;
}

.ant-col-offset-2{
    background-image: url("../../images/Group 7.png");
    background-size: 600px;
    background-position-y: 0px;
    background-position-x: -70px;
    background-repeat: no-repeat;
}
.content{
    margin-top: 100px;
}


.test{
    background-image: url("../../images/Group 7.png");
    background-size: 550px;
    background-position-y: 35px;
    background-position-x: -60px;
    background-repeat: no-repeat;
    padding-bottom: 20px;
}

.exp{
    background-color: rgba(186, 28, 29,0.7);
}

.hero-title2{
    background-image: url("../../images/Path 84.png");
    background-size: 550px;
    background-position-y: 0px;
    background-position-x: -70px;
    background-repeat: no-repeat;
}



.hero-title2 h1 {
    color: #BA1C1D;
    font-size: 3rem;
    font-weight: bold;

}

.hero-title2 h2 {
    text-align: justify;
    color: white;
    font-size: 17px;
}



.button3 {
    margin-top: 20px;
   background-color: black;
    width: 200px;
    height: 50px;
    padding: 5px;
    margin-bottom: 100px;
}



.button3 h3{
    font-size: 20px;
    text-align: center;
    color: white;
}

.exp2{
    background-color: white;
}

.hero-title3{
    background-image: url("../../images/Path 86.png");
    background-size: 550px;
    background-position-y: 0px;
    background-position-x: 0px;
    background-repeat: no-repeat;
    margin-left: 50px;
    padding-left: 50px;
    margin-top: 50px;
}



.hero-title3 h1 {
    color: #BA1C1D;
    font-size: 3rem;
    font-weight: bold;

}

.hero-title3 h2 {
    text-align: justify;
    color: black;
    font-size: 17px;
}




.button4 {
    margin-top: 20px;
    width: 200px;
    height: 50px;
    padding: 5px;
    margin-bottom: 100px;
    border: 1px solid black;
}



.button4 h3{
    font-size: 20px;
    text-align: center;
    color: black;
}

.third-background{
    background-image: url("../../images/Group 5.png");
    background-size: 650px;
    margin-top: 50px;
    margin-left: 100px;

    background-position-y: 30px;
    background-repeat: no-repeat;
    padding-bottom: 20px;
    height: 515px;


}


.test2{
    background-image: url("../../images/Group 4.png");
    background-size: 550px;
    background-position-y: 35px;
    background-position-x: 60px;
    background-repeat: no-repeat;
    padding-bottom: 20px;
}

.hero-title4{
    margin-top: 110px;
    background-image: url("../../images/Path 88.png");
    background-size: 550px;
    background-position-y: -15px;
    background-position-x: 60px;
    background-repeat: no-repeat;
    padding-bottom: 20px;
}
.hero-title4 h1 {
    color: #BA1C1D;
    font-size: 3rem;
    font-weight: bold;

}

.hero-title4 h4 {
    color: #BA1C1D;
    font-size: 30px;
    font-weight: bold;

}
.hero-title4 h2 {
    text-align: match-parent;
    color: white;
    font-size: 17px;
}


.hero-title8{
    background-image: url("../../images/Path 91.png");
    background-size: 600px;
    background-position-y: 0px;
    background-position-x: 0px;
    background-repeat: no-repeat;
    margin-left: 50px;
    padding-left: 50px;
    margin-top: 50px;
}


.hero-title8 h1 {
    color: #BA1C1D;
    font-size: 3rem;
    font-weight: bold;

}

.hero-title8 h2 {
    text-align: justify;
    color: white;
    font-size: 17px;
}


.button8 {
    margin-top: 20px;
    width: 200px;
    height: 50px;
    padding: 5px;
    margin-bottom: 100px;
    background-color: black;
}



.button8 h3{
    font-size: 20px;
    text-align: center;
    color: white;
}

.button9 {
    margin-top: 20px;
    width: 200px;
    height: 50px;
    padding: 5px;
    margin-bottom: 100px;
    border: 1px solid white;
}



.button9 h3{
    font-size: 20px;
    text-align: center;
    color: white;
}


.test8{
    background-image: url("../../images/Group 4.png");
    background-size: 600px;
    background-position-y: 15px;
    background-position-x: 0px;
    background-repeat: no-repeat;
    padding-bottom: 20px;
    margin-left: 100px;
    margin-top: 30px;
}


.finale{
    background-color: black;
}
.finale h2{
    text-align: justify;
    color: white;
    font-size: 20px;
}